       #
        # 编译x64固件:
        #
        CONFIG_HAS_SUBTARGETS=y
        CONFIG_TARGET_BOARD="x86"
        CONFIG_TARGET_SUBTARGET="64"
        CONFIG_TARGET_PROFILE="Generic"
        CONFIG_TARGET_ARCH_PACKAGES="x86_64"
        CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe"
        CONFIG_CPU_TYPE=" "
        CONFIG_LINUX_4_19=y
        # 固件压缩:
        CONFIG_TARGET_IMAGES_GZIP=y
        # 编译UEFI固件:
        CONFIG_EFI_IMAGES=y
        # IPv6支持:
        CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
        CONFIG_PACKAGE_ipv6helper=y
        #  多文件系统支持:
        CONFIG_PACKAGE_kmod-fs-nfs=y
        CONFIG_PACKAGE_kmod-fs-nfs-common=y
        CONFIG_PACKAGE_kmod-fs-nfs-v3=y
        CONFIG_PACKAGE_kmod-fs-nfs-v4=y
        CONFIG_PACKAGE_kmod-fs-ntfs=y
        CONFIG_PACKAGE_kmod-fs-squashfs=y
        #  USB3.0支持:
        cat >> .config <<EOF
        CONFIG_PACKAGE_kmod-usb-ohci=y
        CONFIG_PACKAGE_kmod-usb-ohci-pci=y
        CONFIG_PACKAGE_kmod-usb2=y
        CONFIG_PACKAGE_kmod-usb2-pci=y
        CONFIG_PACKAGE_kmod-usb3=y
        #  常用LuCI插件选择:
        CONFIG_PACKAGE_luci-app-baidupcs-web=y
        CONFIG_PACKAGE_luci-app-kodexplorer=y
        CONFIG_PACKAGE_luci-app-minidlna=y
        CONFIG_PACKAGE_luci-app-ssr-plus=y
        CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray_plugin=y
        CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
        CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
        CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2=y
        CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
        CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server=y
        CONFIG_PACKAGE_luci-app-ttyd=y
        CONFIG_PACKAGE_luci-app-v2ray-server=y
        CONFIG_PACKAGE_luci-app-verysync=y
        CONFIG_PACKAGE_luci-app-webadmin=y
        CONFIG_PACKAGE_luci-app-wireguard=y
        CONFIG_PACKAGE_luci-app-wrtbwmon=y
        CONFIG_PACKAGE_luci-app-adguardhome=y
        CONFIG_PACKAGE_luci-app-advancedsetting=y
        CONFIG_PACKAGE_luci-app-aliddns=y
        CONFIG_PACKAGE_luci-app-diskman=y
        CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=y
        CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=y
        CONFIG_PACKAGE_luci-app-diskman_INCLUDE_mdadm=y
        CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_raid456=y
        CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_linear=y
        CONFIG_PACKAGE_luci-app-filebrowser=y
        CONFIG_PACKAGE_luci-app-filetransfer=y
        CONFIG_PACKAGE_luci-app-firewall=y
        CONFIG_PACKAGE_luci-app-flowoffload=y
        CONFIG_PACKAGE_luci-i18n-ipsec-vpnserver-manyusers-zh-cn=y
        CONFIG_PACKAGE_luci-i18n-nfs-zh-cn=y
        CONFIG_PACKAGE_luci-app-fileassistant=y
        CONFIG_PACKAGE_luci-app-dockerman=y
        CONFIG_PACKAGE_luci-app-dockerman_INCLUDE_docker_ce=y
        CONFIG_PACKAGE_luci-app-dockerman_INCLUDE_ttyd=y
        #  LuCI主题:
        CONFIG_PACKAGE_luci-theme-argon=y
        CONFIG_PACKAGE_luci-theme-argon_new=y
        CONFIG_PACKAGE_luci-theme-atmaterial=y
        CONFIG_PACKAGE_luci-theme-bootstrap=y
        CONFIG_PACKAGE_luci-theme-material=y
        CONFIG_PACKAGE_luci-theme-netgear=y
        CONFIG_LUCI_LANG_zh_Hans=y
        CONFIG_LUCI_LANG_en=y
        
        #  常用软件包:
        CONFIG_PACKAGE_luci=y
        CONFIG_PACKAGE_luci-base=y
        CONFIG_PACKAGE_luci-compat=y
        CONFIG_PACKAGE_luci-lib-ipkg=y
        CONFIG_PACKAGE_luci-proto-ppp=y
        CONFIG_PACKAGE_curl=y
        CONFIG_PACKAGE_htop=y
        CONFIG_PACKAGE_nano=y
        CONFIG_PACKAGE_screen=y
        CONFIG_PACKAGE_tree=y
        CONFIG_PACKAGE_vim-fuller=y
        CONFIG_PACKAGE_wget=y
        CONFIG_PACKAGE_adguardhome=y
        CONFIG_PACKAGE_kmod-vmxnet3=y
        CONFIG_PACKAGE_kmod-igbvf=y
        CONFIG_PACKAGE_kmod-ixgbe=y
        CONFIG_PACKAGE_kmod-pcnet32=y
        CONFIG_PACKAGE_kmod-r8125=y
        CONFIG_PACKAGE_kmod-8139cp=y
        CONFIG_PACKAGE_kmod-8139too=y
        CONFIG_PACKAGE_kmod-i40e=y
        CONFIG_PACKAGE_kmod-i40evf=y
        CONFIG_PACKAGE_kmod-usb-net=y
        CONFIG_PACKAGE_kmod-usb-net-rtl8150=y
        CONFIG_PACKAGE_kmod-usb-net-rtl8152=y
        CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=y
        CONFIG_PACKAGE_kmod-sound-core=y
        CONFIG_PACKAGE_kmod-usb-audio=y
        CONFIG_PACKAGE_kmod-macvlan=y
        CONFIG_PACKAGE_unzip=y
        CONFIG_PACKAGE_bash=y
        
        #  取消编译VMware镜像以及镜像填充 (不要删除被缩进的注释符号):
        # CONFIG_TARGET_IMAGES_PAD is not set
        # CONFIG_VMDK_IMAGES is not set
